@font-face {
  font-family: 'infohidro';
  src:  url('fonts/infohidro.eot?etc9fc');
  src:  url('fonts/infohidro.eot?etc9fc#iefix') format('embedded-opentype'),
    url('fonts/infohidro.ttf?etc9fc') format('truetype'),
    url('fonts/infohidro.woff?etc9fc') format('woff'),
    url('fonts/infohidro.svg?etc9fc#infohidro') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'infohidro' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-infohidro-pluviometrica:before {
  content: "\e906";
}
.icon-infohidro-hidrologica:before {
  content: "\e915";
}
.icon-infohidro-meteorologica:before {
  content: "\e916";
}
.icon-infohidro-termometro:before {
  content: "\e905";
}
.icon-infohidro-fogo-alerta:before {
  content: "\e904";
}
.icon-infohidro-aproveitamento-hidreletrico:before {
  content: "\e914";
}
.icon-infohidro-poco:before {
  content: "\e900";
}
.icon-infohidro-pantano:before {
  content: "\e901";
}
.icon-infohidro-onda:before {
  content: "\e902";
}
.icon-infohidro-lupa-cancelado:before {
  content: "\e903";
}
.icon-infohidro-fogo:before {
  content: "\e907";
}
.icon-infohidro-floresta:before {
  content: "\e908";
}
.icon-infohidro-eta:before {
  content: "\e909";
}
.icon-infohidro-dispensa:before {
  content: "\e90a";
}
.icon-infohidro-captacao:before {
  content: "\e90b";
}
.icon-infohidro-bacia:before {
  content: "\e90c";
}
.icon-infohidro-agropecuaria:before {
  content: "\e90d";
}
.icon-infohidro-abastecimento:before {
  content: "\e90e";
}
.icon-infohidro-volume:before {
  content: "\e90f";
}
.icon-infohidro-reservatorio:before {
  content: "\e910";
}
.icon-infohidro-predio:before {
  content: "\e911";
}
.icon-infohidro-pontos-efluentes:before {
  content: "\e912";
}
.icon-infohidro-pontos-captacao:before {
  content: "\e913";
}
